---
import Wave from './wave.astro';
import Waveone from './waveone.astro';
--- 

<script>
    var html = document.getElementById("htmlp");
    var python = document.getElementById("pythonp");
    var css = document.getElementById("cssp");
    var js = document.getElementById("jsp");
    var flutter = document.getElementById("flutterp");
    var php = document.getElementById("phpP");
    var htmlInnerDiv = document.getElementById("htmlInnerDiv");
    var pythonInnerDiv = document.getElementById("pythonInnerDiv");
    var cssInnerDiv = document.getElementById("cssInnerDiv");
    var jsInnerDiv = document.getElementById("jsInnerDiv");
    var flutterInnerDiv = document.getElementById("flutterInnerDiv");
    var phpInnerDiv = document.getElementById("phpInnerDiv");

    var htmlNum = 70;
    var pythonNum = 60;
    var cssNum = 60;
    var jsNum = 50;
    var flutterNum = 55;
    var phpNum = 50;
    var count = 0;

    function counting(num, att, c) {
        setInterval(() => {
            if (c >= num) {
                clearInterval;
            } else {
                c += 1;
                att.innerHTML = c + "%";
            }
        }, 20);
    }

    counting(htmlNum, html, count);
    counting(pythonNum, python, count);
    counting(cssNum, css, count);
    counting(jsNum, js, count);
    counting(flutterNum, flutter, count);
    counting(phpNum, php, count);

    function increaseWidth(num, att) {
        let c = 0;
        setInterval(() => {
            if (c >= num) {
                clearInterval;
            } else {
                c += 1;
                att.style.width = c + "%";
            }
        }, 10);
    }
    increaseWidth(htmlNum, htmlInnerDiv);
    increaseWidth(pythonNum, pythonInnerDiv);
    increaseWidth(cssNum, cssInnerDiv);
    increaseWidth(jsNum, jsInnerDiv);
    increaseWidth(flutterNum, flutterInnerDiv);
    increaseWidth(phpNum, phpInnerDiv);
</script>
<!-- <Wave/> -->
<div id="skillMainDiv">
    <Waveone/>
    <h1 id="title">Skills</h1>
    <div id="skills">
        <div id="frontEnd">
            <div id="html">
                <div id="skill">
                    <div id="header">
                        <p>HTML</p>
                    </div>
                    <div id="progressBar">
                        <div id="outerDiv">
                            <div id="htmlInnerDiv">
                                <p id="htmlp"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="css">
                <div id="skill">
                    <div id="header">
                        <p>CSS</p>
                    </div>
                    <div id="progressBar">
                        <div id="outerDiv">
                            <div id="cssInnerDiv">
                                <p id="cssp"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="js">
                <div id="skill">
                    <div id="header">
                        <p>JavaScript</p>
                    </div>
                    <div id="progressBar">
                        <div id="outerDiv">
                            <div id="jsInnerDiv">
                                <p id="jsp"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="backEnd">
            <div id="python">
                <div id="skill">
                    <div id="header">
                        <p>Python</p>
                    </div>
                    <div id="progressBar">
                        <div id="outerDiv">
                            <div id="pythonInnerDiv">
                                <p id="pythonp"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="flutter">
                <div id="skill">
                    <div id="header">
                        <p>Flutter</p>
                    </div>
                    <div id="progressBar">
                        <div id="outerDiv">
                            <div id="flutterInnerDiv">
                                <p id="flutterp"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="php">
                <div id="skill">
                    <div id="header">
                        <p>PHP</p>
                    </div>
                    <div id="progressBar">
                        <div id="outerDiv">
                            <div id="phpInnerDiv">
                                <p id="phpP"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="custom-shape-divider-bottom-1694842981">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
            <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
        </svg>
    </div>
</div>

<style>
    .custom-shape-divider-bottom-1694842981 {
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1694842981 svg {
    position: relative;
    display: block;
    width: calc(300% + 1.3px);
    height: 221px;
}

.custom-shape-divider-bottom-1694842981 .shape-fill {
    fill: #FFFFFF;
}


    #skillMainDiv {
        min-height: 50vh;
        background-color: var(--primaryColor);
        overflow: hidden;
    }
    #frontEnd,
    #backEnd {
        padding: 10px 20px;
        min-width: 50%;
    }

    #title {
        font-size: clamp(1rem, -0.25rem + 4vw, 2rem);
        text-align: center;
        font-weight: 600;
    }

    #skills {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 40px 10px;
    }
    #skill div {
        font-size: clamp(0.625rem, 0.1563rem + 1.5vw, 1rem);
        font-weight: 500;
    }
    #outerDiv {
        border: 2px solid var(--red);
        border-radius: 50px;
        padding: 2px;
    }
    #outerDiv div {
        border-radius: 50px;
        background-color: var(--red);
        text-align: center;
        color: var(--white);
    }
    #css,
    #js,
    #flutter,
    #php {
        padding-top: 10px;
    }

    @media (width <= 600px) {
        #skills {
            min-height: 50vh;
            background-color: var(--primaryColor);
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        #frontEnd,
        #backEnd {
            padding: 20px 20px;
            width: 100%;
        }
    }
</style>
